<h1>All Questions</h1>

<table>
  <tr>
    <th>Question</th>
    <th>Answer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @questions.each do |q| %>
  <tr>
    <td><%= q.question %></td>
    <td><%= q.answer %></td>
    <td><%= link_to 'Show', quest %></td>
    <td><%= link_to 'Edit', edit_quest_path(quest) %></td>
    <td><%= link_to 'Destroy', quest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Question', new_quest_path %>
