<p id="notice"><%= notice %></p>

<table>
  <tbody>
    <tr>
      <th>Questions</th>
      <th>Answers</th>
    </tr>

    <%= @user.questions.each do |q| %>
    <tr>
      <td><%= link_to q.question, question %></td>
      <td><%= link_to q.answer, question %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %> |
<%= link_to 'Edit User', edit_user_registration_path(@user) %> |
<%= link_to 'Back', users_path %>
